<div id="body">
    <div>
        <button id="getById">Get with Id</button>
        <button id="getAll">Get All</button>
    </div>
    <div id="returnedData" style="margin-top: 20px;">
    </div>
    
    <div id="loginDetails">
        <fieldset>
            <legend>Login</legend>
            <p>
                <label for="username">Username</label>
                <input id="username" value="bob" />
            </p>
            <p>
                <label for="password">Password</label>
                <input id="password" type="password" />
            </p>
            <p>
                <button id="login">login</button>
            </p>
        </fieldset>        
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        $(function() {

            $(document).ajaxError(ajaxErrors);
            $('#loginDetails').toggle();

            var loginUrl = '/Account/AjaxLogin',
                getUrl = '/api/values',
                requestedAction;

            $('#login').click(function() {

                var data = {
                    userName: $("#username").val(),
                    password: $("#password").val()
                };

                $('#returnedData').text('');
                
                makeRequest(loginUrl, data, 'POST').done(function(result) {
                    $('#loginDetails').toggle();

                    // if requestedAction has value then we need to
                    // execute it
                    if (requestedAction) {
                        requestedAction();
                    }
                }).fail(function(result) {
                    $('#returnedData').text(result.statusText);
                });
            });

            $('#getById').click(function () {
                // record the action in case we get 401 and need
                // to execute once user is authenticated
                requestedAction = function () {
                    $('#getById').trigger('click');
                };

                getRequest(getUrl + '/1');
            });

            $('#getAll').click(function () {
                // record the action in case we get 401 and need
                // to execute once user is authenticated
                requestedAction = function () {
                    $('#getAll').trigger('click');
                };

                getRequest(getUrl);
            });

            function getRequest(url) {
                makeRequest(url).done(function (result) {
                    $('#returnedData').text(result);
                    requestedAction = null;
                }).fail(function (result) {
                    $('#returnedData').text(result.statusText);
                });
            }

            function makeRequest(url, data, requestType) {

                if (requestType === undefined) {
                    requestType = 'GET';
                }

                var ajaxSettings = {
                    type: requestType,
                    url: url,
                    data: data
                };

                return $.ajax(ajaxSettings);
            }

            function ajaxErrors(event, jqXhr) {
                if (jqXhr.status == 401) {
                    $('#loginDetails').toggle();
                }
            }
        });
    </script>    
}
